<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <span *mifosxHasPermission="'ACTIVATE_DEBIT_ORDER_MANDATE'">
    <button mat-raised-button color="accent" (click)="activateMandate()" *ngIf="mandateData?.status === 'DRAFT'">
      <fa-icon icon="lock-open"></fa-icon>&nbsp;&nbsp;
      Activate
    </button>
  </span>
  <span *mifosxHasPermission="'DISABLE_DEBIT_ORDER_MANDATE'">
    <button mat-raised-button color="warn" (click)="disableMandate()"
            *ngIf="(mandateData?.status === 'ACTIVE')">
      <fa-icon icon="times"></fa-icon>&nbsp;&nbsp;
      Disable
    </button>
  </span>
  <button mat-raised-button color="primary" [routerLink]="['../../edit', mandateData?.id]" *mifosxHasPermission="'UPDATE_DEBIT_ORDER_MANDATE'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    Edit
  </button>
<!--  <button mat-raised-button color="warn" (click)="deleteMandate()" *mifosxHasPermission="'DELETE_DEBIT_ORDER_MANDATE'">-->
<!--    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;-->
<!--    Delete-->
<!--  </button>-->
  <button mat-raised-button color="primary" [routerLink]="['../../batch-items', mandateData?.id]" *mifosxHasPermission="'READ_DEBIT_ORDER_MANDATE_LIST'">
    <fa-icon icon="sitemap"></fa-icon>&nbsp;&nbsp;
    Batch Items
  </button>
  <button mat-raised-button color="primary" (click)="back()">
    <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
    Back
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <mat-card-content>

        <nav mat-tab-nav-bar class="navigation-tabs">
          <a mat-tab-link [routerLink]="['./details']" routerLinkActive #details="routerLinkActive"
             [active]="details.isActive">
            Details
          </a>
          <a mat-tab-link [routerLink]="['./settings']" routerLinkActive #settings="routerLinkActive"
             [active]="settings.isActive">
            Settings
          </a>
        </nav>

        <router-outlet></router-outlet>

      </mat-card-content>

    </mat-card-content>

  </mat-card>

</div>


