<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
  <span *mifosxHasPermission="'ACTIVATE_DEBIT_ORDER_MANDATE'">
    <button mat-raised-button color="accent" (click)="activateMandate()" *ngIf="mandateData.status.value !== 'Active'">
      <fa-icon icon="lock-open"></fa-icon>&nbsp;&nbsp;
      Activate
    </button>
  </span>
  <span *mifosxHasPermission="'DISABLE_DEBIT_ORDER_MANDATE'">
    <button mat-raised-button color="warn" (click)="disableMandate()" *ngIf="mandateData.status.value !== 'Disabled'">
      <fa-icon icon="lock-alt"></fa-icon>&nbsp;&nbsp;
      Disable
    </button>
  </span>
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_DEBIT_ORDER_MANDATE'">
    <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
    Edit
  </button>
  <button mat-raised-button color="warn" (click)="deleteMandate()" *mifosxHasPermission="'DELETE_DEBIT_ORDER_MANDATE'">
    <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
    Delete
  </button>
  <button mat-raised-button color="primary" (click)="viewBatchItems()" *mifosxHasPermission="'READ_DEBIT_ORDER_MANDATE_LIST'">
    <fa-icon icon="list-ol"></fa-icon>&nbsp;&nbsp;
    Batch Items
  </button>
</div>

<div class="container">

  <mat-card>

    <mat-card-content>

      <div fxLayout="row wrap" class="content">

        <div fxFlex="50%" class="mat-body-strong" *ngIf="mandateData.debitOrderMandateStatus">
          Mandate Status
        </div>

        <div fxFlex="50%" *ngIf="mandateData.debitOrderMandateStatus">
          {{ mandateData.debitOrderMandateStatus }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="mandateData.debitOrderDueDate">
          Due Date
        </div>

        <div fxFlex="50%" *ngIf="mandateData.debitOrderDueDate">
          {{ mandateData.debitOrderDueDate }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="mandateData.additionalFee">
          Additional Fee
        </div>

        <div fxFlex="50%" *ngIf="mandateData.additionalFee">
          {{ mandateData.additionalFee }}
        </div>

        <div fxFlex="50%" class="mat-body-strong" *ngIf="mandateData.debitOrderMandateNumber">
          Mandate Number
        </div>

        <div fxFlex="50%" *ngIf="mandateData.debitOrderMandateNumber">
          {{ mandateData.debitOrderMandateNumber }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          Start Date
        </div>

        <div fxFlex="50%">
          {{ mandateData.startDate | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          End Date
        </div>

        <div fxFlex="50%" *ngIf="mandateData.endDate">
          {{ mandateData.endDate | date }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          Status
        </div>

        <div fxFlex="50%">
          {{ mandateData.status | titlecase }}
        </div>

      </div>

    </mat-card-content>

  </mat-card>

</div>


