<div class="container">

  <mat-horizontal-stepper class="mat-elevation-z8" labelPosition="bottom" #debitOrderMandateStepper>

    <ng-template matStepperIcon="number">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <fa-icon icon="check" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="error">
      <fa-icon icon="exclamation-triangle" size="lg"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="preview">
      <fa-icon icon="eye" size="sm"></fa-icon>
    </ng-template>

    <mat-step [stepControl]="debitOrderMandateDetailsForm">

      <ng-template matStepLabel>Details</ng-template>

      <mifosx-mandate-details-step></mifosx-mandate-details-step>

    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Settings</ng-template>

      <mifosx-mandate-settings-step></mifosx-mandate-settings-step>

    </mat-step>

    <mat-step *ngIf="debitOrderMandateDetailsForm.valid" completed>

      <ng-template matStepLabel>PREVIEW</ng-template>

      <mifosx-mandate-preview-step
        [operatorOptions]="operatorOptions"
        [debitOrderMandate]="debitOrderMandate" (submit)="submit()"
      >
      </mifosx-mandate-preview-step>

    </mat-step>

  </mat-horizontal-stepper>

</div>
