<div class="container">

  <mat-horizontal-stepper class="mat-elevation-z8" labelPosition="bottom" #debitOrderOperatorStepper>

    <ng-template matStepperIcon="number">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
      <fa-icon icon="pencil-alt" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <fa-icon icon="check" size="sm"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="error">
      <fa-icon icon="exclamation-triangle" size="lg"></fa-icon>
    </ng-template>

    <ng-template matStepperIcon="preview">
      <fa-icon icon="eye" size="sm"></fa-icon>
    </ng-template>

    <mat-step [stepControl]="debitOrderOperatorGeneralForm">

      <ng-template matStepLabel>GENERAL</ng-template>

      <mifosx-debit-order-operator-general-step></mifosx-debit-order-operator-general-step>

    </mat-step>

    <mat-step>

      <ng-template matStepLabel>BANK INFORMATION</ng-template>

      <mifosx-debit-order-operator-bank-step [bankOptions]="bankOptions"></mifosx-debit-order-operator-bank-step>

    </mat-step>

    <mat-step *ngIf="debitOrderOperatorGeneralForm.valid" completed>

      <ng-template matStepLabel>PREVIEW</ng-template>

      <mifosx-debit-order-operator-preview-step
        [bankOptions]="bankOptions"
        [debitOrderOperator]="debitOrderOperator" (submit)="submit()"
      >
      </mifosx-debit-order-operator-preview-step>

    </mat-step>

  </mat-horizontal-stepper>

</div>
