<div class="container">

  <mat-card>

    <form [formGroup]="rejectMandateForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="closureDatePicker" required formControlName="closureDate">
            <mat-datepicker-toggle matSuffix [for]="closureDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #closureDatePicker></mat-datepicker>
            <mat-error *ngIf="rejectMandateForm.controls.closureDate.hasError('required')">
              Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Reason</mat-label>
            <mat-select formControlName="closureReasonId">
              <mat-option *ngFor="let reason of externalCodes" [value]="reason.code">
                {{ reason.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="rejectMandateForm.controls.closureReasonId.hasError('required')">
              Reason is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../../mandate', mandateId, 'details']">Cancel</button>
        <button mat-raised-button color="warn" [disabled]="!rejectMandateForm.valid">Confirm</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>

