<div class="container">
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">
    <button mat-raised-button color="primary" (click)="back()">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      Back
    </button>
  </div>

  <mat-card>

    <div fxFlexFill *ngIf="mandateBatchItems" fxLayout="row wrap" fxLayout.lt-md="column">


      <table fxFlexFill mat-table
             [dataSource]="mandateBatchItems" matSort>
        <!-- <ng-container *ngIf="expression"> -->
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef> Reference </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.reference">
              {{batchItem.reference}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="destinationAccount">
          <th mat-header-cell *matHeaderCellDef> Destinaton Account </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.destinationAccount">
              {{batchItem.destinationAccount}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="originAccount">
          <th mat-header-cell *matHeaderCellDef> Origin Account </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.originAccount">
              {{batchItem.originAccount}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="processingDate">
          <th mat-header-cell *matHeaderCellDef> Processing Date </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.processingDate">
              {{batchItem.processingDate | date}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.amount">
              {{batchItem.amount}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="amountCurrencyCode">
          <th mat-header-cell *matHeaderCellDef> Amount Currency </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.amountCurrencyCode">
              {{batchItem.amountCurrencyCode}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="itemStatus">
          <th mat-header-cell *matHeaderCellDef> Item Status </th>
          <td mat-cell *matCellDef="let batchItem">
            <span *ngIf="batchItem.itemStatus">
              {{batchItem.itemStatus}}
            </span>
          </td>
        </ng-container>



        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let batchItem; let id = index">
            <span *ngIf="batchItem.itemStatus">
              <button mat-raised-button class="account-action-button" color="primary"
                      *mifosxHasPermission="'READ_DEBIT_ORDER_MANDATE_BATCH_ITEM'" (click)="viewBatchItemDetail(batchItem)">
                <fa-icon icon="eye"></fa-icon>&nbsp;&nbsp;
              </button>
            </span>
          </td>
        </ng-container>
        <!-- </ng-container> -->


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
    </div>

  </mat-card>

</div>
