<div class="tab-container mat-typography">

  <mat-list>

    <mat-list-item>
      Authorization Date : {{ mandateData.authorizationDate ? (mandateData.authorizationDate | date) : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      First Collection Day : {{ mandateData.firstCollectionDay ? mandateData.firstCollectionDay : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Collection Day : {{ mandateData.collectionDay ? mandateData.collectionDay : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Debit Order Frequency : {{ mandateData.debitOrderFrequency ? mandateData.debitOrderFrequency : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Additional Fee : {{ mandateData.additionalFee ? mandateData.additionalFee : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      First Collection Amount : {{ mandateData.firstCollectionAmount ? mandateData.firstCollectionAmount : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Collection Amount : {{ mandateData.collectionAmount ? mandateData.collectionAmount : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Maximum Collection Amount : {{ mandateData.maximumCollectionAmount ? mandateData.maximumCollectionAmount : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Adjustment Amount Type : {{ mandateData.adjustmentAmountType ? mandateData.adjustmentAmountType : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Adjustment Rate : {{ mandateData.adjustmentRate ? mandateData.adjustmentRate : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Adjustment Amount : {{ mandateData.adjustmentAmount ? mandateData.adjustmentAmount : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Account Number : {{ mandateData.accountNumber ? mandateData.accountNumber : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Debtor Identification : {{ mandateData.debtorIdentification ? mandateData.debtorIdentification : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Mandate Value Type : {{ mandateData.mandateValueType ? mandateData.mandateValueType : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Installment Occurrence : {{ mandateData.installmentOccurrence ? mandateData.installmentOccurrence : 'N/A' }}
    </mat-list-item>

    <mat-list-item>
      Debtor Identification Type : {{ mandateData.debtorIdentificationType ? mandateData.debtorIdentificationType : 'N/A' }}
    </mat-list-item>
  </mat-list>

</div>
