<form [formGroup]="mandateForm">

  <mat-card-content>

    <div fxLayout="column">

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput required formControlName="firstName">
        <mat-error *ngIf="mandateForm.controls.firstName.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput required formControlName="lastName">
        <mat-error *ngIf="mandateForm.controls.lastName.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Entry Class</mat-label>
        <input matInput required formControlName="entryClass">
        <mat-error *ngIf="mandateForm.controls.entryClass.hasError('required')">
          Entry Class is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>EC Number</mat-label>
        <input matInput required formControlName="ecNumber">
        <mat-error *ngIf="mandateForm.controls.ecNumber.hasError('required')">
          EC Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ID Number</mat-label>
        <input matInput required formControlName="nationalId">
        <mat-error *ngIf="mandateForm.controls.nationalId.hasError('required')">
          ID Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Reference Number</mat-label>
        <input matInput required formControlName="referenceNumber">
        <mat-error *ngIf="mandateForm.controls.referenceNumber.hasError('required')">
          Reference Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contract Reference</mat-label>
        <input matInput required formControlName="contractReference">
        <mat-error *ngIf="mandateForm.controls.contractReference.hasError('required')">
          Contract Reference is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="mandateForm.contains('operatorExternalId')" fxFlex="48%">
        <mat-label>Operator</mat-label>
        <mat-select required formControlName="operatorExternalId">
          <mat-option *ngFor="let operator of operatorOptions" [value]="operator.externalId">
            {{ operator.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mandateForm.controls.operatorExternalId.hasError('required')">
          Operator is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="mandateForm.contains('bankCode')" fxFlex="48%">
        <mat-label>Bank</mat-label>
        <mat-select required formControlName="bankCode">
          <mat-option *ngFor="let bank of bankOptions" [value]="bank.code">
            {{ bank.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mandateForm.controls.bankCode.hasError('required')">
          Bank is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="mandateForm.contains('debtorAccountType')" fxFlex="48%">
        <mat-label>Account Type</mat-label>
        <mat-select required formControlName="debtorAccountType">
          <mat-option *ngFor="let dat of debtorAccountTypes" [value]="dat">
            {{ dat }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="mandateForm.controls.debtorAccountType.hasError('required')">
          Account Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Account Name</mat-label>
        <input matInput required formControlName="debtorAccountName">
        <mat-error *ngIf="mandateForm.controls.debtorAccountName.hasError('required')">
          Account Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Account Number</mat-label>
        <input matInput required formControlName="debtorAccountNumber">
        <mat-error *ngIf="mandateForm.controls.debtorAccountNumber.hasError('required')">
          Account Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>



      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="startDatePicker" required formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-error *ngIf="mandateForm.controls.startDate.hasError('required')">
          Start Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="endDatePicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>


    </div>

  </mat-card-content>

  <div fxLayout="row" class="margin-t" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="2%">
    <button mat-raised-button matStepperPrevious disabled>
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;
      Previous
    </button>
    <button mat-raised-button matStepperNext>
      Next&nbsp;&nbsp;
      <fa-icon icon="arrow-right"></fa-icon>
    </button>
  </div>

</form>



