<div class="container">

  <mat-card>

    <div class="viewMandates-account-tables" fxLayout="row" fxLayoutGap="2%">

      <div fxFlex="49%">
        <table>
          <tbody>
            <tr>
              <td>Disbursement Date</td>
              <td>{{dataObject.timeline.actualDisbursementDate}}<span
                  *ngIf="!dataObject.timeline.actualDisbursementDate">Not Available</span></td>
            </tr>
            <tr>
              <td>Currency</td>
              <td>{{dataObject.currency.name}}</td>
            </tr>
            <tr>
              <td>Loan Officer</td>
              <td>
                {{dataObject.loanOfficerName}} <span *ngIf="!dataObject.loanOfficerName">Unassigned</span>
              </td>
            </tr>
            <tr>
              <td>External Id</td>
              <td>{{dataObject.externalId}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div fxFlex="49%">
        <table>
          <tbody>
            <tr>
              <td>Loan Purpose</td>
              <td>
                {{dataObject.loanPurposeName}} <span *ngIf="!dataObject.loanPurposeName"> Not Provided </span>
              </td>
            </tr>
            <tr>
              <td>Approved Amount</td>
              <td>
                <span>{{dataObject.approvedPrincipal | number}}</span>
              </td>
            </tr>
            <tr>
              <td>Disburse Amount</td>
              <td>
                <span>{{dataObject.principal | number}}</span>
              </td>
            </tr>
            <tr>
              <td>Arrears By</td>
              <td>{{dataObject.summary.totalOverdue | number}}
                <span *ngIf="dataObject.summary.totalOverdue < 0">Not Provided</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div fxFlexFill *ngIf="mandateDetails" fxLayout="row wrap" fxLayout.lt-md="column">

      <!-- mandates details table -->
      <div class="headingContent">
        <div fxLayout="column" fxFlex="50%">
          <div class="headingName">
            <h3>Mandates Details</h3>
          </div>
        </div>
        <div fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutAlign="flex-end">
            <button mat-raised-button class="f-right" color="primary" *mifosxHasPermission="'CREATE_DEBIT_ORDER_MANDATE'"
              [routerLink]="['../', 'Create Mandate']">Create Direct Debit Mandate</button>
          </div>
        </div>
      </div>

      <table fxFlexFill mat-table
        [dataSource]="mandateDetails" matSort>
        <!-- <ng-container *ngIf="expression"> -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let mandate">
            <span *ngIf="mandate.startDate">
              {{mandate.startDate | date}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef> End Date </th>
          <td mat-cell *matCellDef="let mandate">
            <span *ngIf="mandate.endDate">
              {{mandate.endDate | date}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="referenceNumber">
          <th mat-header-cell *matHeaderCellDef> Reference Number </th>
          <td mat-cell *matCellDef="let mandate">
            <span *ngIf="mandate.referenceNumber">
              {{mandate.referenceNumber}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="collectionAmount">
          <th mat-header-cell *matHeaderCellDef> Collection Amount </th>
          <td mat-cell *matCellDef="let mandate">
            <span *ngIf="mandate.collectionAmount">
              {{mandate.collectionAmount}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="authorizationDate">
          <th mat-header-cell *matHeaderCellDef> Authorization Date </th>
          <td mat-cell *matCellDef="let mandate">
            <span *ngIf="mandate.authorizationDate">
              {{mandate.authorizationDate | date}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Mandate Status </th>
          <td mat-cell *matCellDef="let mandate">
            <span *ngIf="mandate.status">
              {{mandate.status}}
            </span>
          </td>
        </ng-container>



        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let mandate; let id = index">
            <span *ngIf="mandate.status">
              <button mat-raised-button class="account-action-button" color="primary"
                *mifosxHasPermission="'READ_DEBIT_ORDER_MANDATE'" [routerLink]="['../../mandate/', mandate.id, 'details']">
                <fa-icon icon="eye"></fa-icon>&nbsp;&nbsp;
              </button>
<!--              <button mat-raised-button class="account-action-button" color="primary"-->
<!--                *ngIf="mandate.status && mandate.id" [routerLink]="['edit']">-->
<!--                <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;-->
<!--              </button>-->
<!--              <span *ngIf="mandate.status">-->
<!--                <button mat-raised-button class="account-action-button" color="warn"-->
<!--                  *mifosxHasPermission='"DELETE_DEBIT_ORDER_MANDATE"' (click)="deleteMandate(mandate.id)">-->
<!--                  <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;-->
<!--                </button>-->
<!--              </span>-->
            </span>
          </td>
        </ng-container>
        <!-- </ng-container> -->


        <tr mat-header-row *matHeaderRowDef="mandatesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: mandatesDisplayedColumns" [routerLink]="['../../mandate/', row.id, 'details']"></tr>

      </table>
    </div>

  </mat-card>

</div>
