
<div class="container-fluid m-h-20">

  <mat-card>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="50%">
        <mat-card>

          <mat-card-header>
            <mat-card-title class="title">
              Welcome, {{ username }}!
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div fxLayout="column">
              <mat-form-field>
                <mat-label>Search Activity</mat-label>
                <input matInput [matAutocomplete]="activitySearch" [formControl]="searchText">
              </mat-form-field>
            </div>

            <mat-autocomplete #activitySearch="matAutocomplete">
              <mat-option *ngFor="let activity of filteredActivities | async" [routerLink]="activity.path">
                <span>{{activity.activity}}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-label><strong>e.g Users</strong></mat-label>

          </mat-card-content>

<!--          <img mat-card-image src="assets/images/cash-22-simple.png" alt="Cash 22">-->

        </mat-card>
      </div>

      <div fxFlex="50%">
        <div fxLayput="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column" class="container m-b-20">

          <button mat-raised-button color="primary" [routerLink]="['/dashboard']">
            <fa-icon icon="tachometer-alt"></fa-icon>&nbsp;&nbsp;
            Dashboard
          </button>

        </div>

        <mat-nav-list>

          <mat-list-item [routerLink]="['/clients']">
            <mat-icon matListIcon>
              <fa-icon icon="users" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Clients</h4>
            <p matLine>Registered clients</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['/groups']">
            <mat-icon matListIcon>
              <fa-icon icon="calendar-alt" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Groups</h4>
            <p matLine>Client Groups</p>
          </mat-list-item>

          <mat-list-item [routerLink]="['/centers']">
            <mat-icon matListIcon>
              <fa-icon icon="user" size="sm"></fa-icon>
            </mat-icon>
            <h4 matLine>Centers</h4>
            <p matLine>Manage Centers</p>
          </mat-list-item>

        </mat-nav-list>

      </div>

    </div>

  </mat-card>

</div>
